<div class="headertop_desc">
    <div class="call">
        <p>
            <span>Cần trợ giúp</span> gọi ngay
            <span class="number">0125 899 0377</span>
        </p>
    </div>
    <div class="account_desc">
        <ul>
            <li><a href="#">Đăng ký</a></li>
            <li><a href="#">Đăng nhập</a></li>
            <li><a href="#">Giao hàng</a></li>
            <li><a href="#">Kiểm tra giỏ hàng</a></li>
            <li><a href="#">Thông tin tài khoản</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>