<div class="wrap">
    <div class="header">
        <app-wid-header></app-wid-header>
        <app-mod-header-top></app-mod-header-top>
        <app-mod-menu></app-mod-menu>
    </div>
    <!--<mod_header_slide>
    </mod_header_slide>
    <div class="main">
        <div class="content">
            <mod_content_top [product_type]=1></mod_content_top>
            <mod_group_product [product_type]=1></mod_group_product>
            <mod_content_top [product_type]=2></mod_content_top>
            <mod_group_product [product_type]=2></mod_group_product>
        </div>
    </div>-->
</div>
<app-wid-footer></app-wid-footer>