<div class="wrap">
    <div class="header">
        <app-wid-header></app-wid-header>
        <app-mod-header-top></app-mod-header-top>
        <app-mod-menu></app-mod-menu>
    </div>
    <app-mod-header-slide>
    </app-mod-header-slide>
    <div class="main">
        <div class="content">
            <app-mod-group-product [product_type]=1></app-mod-group-product>
            <app-mod-group-product [product_type]=2></app-mod-group-product>
        </div>
    </div>
</div>
<app-wid-footer></app-wid-footer>