<div class="section group">
    <div class="col-md-3" *ngFor="let product of products">
        <a class="hv" (click)="gotoDetail(product)">
            <img class="center-block" alt="{{product?.name}}" src="{{product?.img}}" style="margin: 10px auto">
        </a>
        <h2>{{product?.name}} </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">{{product?.price | number}} VNĐ</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="#">Add to Cart</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>